.full-width {
    width: 100%;
}

.mat-drawer-container {
    width: 100%;
}

app-tarefas-dia.ng-star-inserted {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.completas {
    font-weight: bold;
}
