/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

app-planner.ng-star-inserted {
    width: 100% !important;
}

.full-width {
    width: 100%;
}

.mat-grid-tile-content {
    align-items: normal !important;
}

.checkbox-completed {
    .mat-internal-form-field  {
        label {
            text-decoration: line-through !important;
        }
    }
}

.card {
    border: 1px solid #ccc !important;
    height: auto !important;
}